<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- android meta -->
	<meta name="theme-color" content="#000000">
	<meta name="mobile-web-app-capable" content="yes">

	<!-- apple metas -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Flag Buttons">

	<title>Flag Buttons</title>

</head>
<body>


	<script type="text/x-template" id="toggleButton">
		<!-- toggle-button component
		A click toggles "aria-pressed" and emits button (id, isPressed) data along a "toggle-button-pressed" event -->
		<button type="button" @click="handlePressed()" :aria-pressed="isPressed"><slot></slot></button>
	</script>


	<script type="text/x-template" id="flagCheckbox">
		<!-- flag-checkbox component
		A click toggles "aria-pressed" and emits button (id, isPressed) data along a "toggle-button-pressed" event -->

		<div class="country-checkbox">
			<input @click="handlePressed()" @click="handlePressed()" :checked="isPressed" type="checkbox" class="offscreen" id="countries[ru]">
			<label :for="id" class="inner-wrapper">
				<span class="flag-icon flag-icon-squared flag-icon-ru"></span>
				<span class="caption"><slot></slot></span>
			</label>
		</div>

		<!-- <flag-checkbox class="country-checkbox" :checked="true" :id="countries[ru]" :name="countries[ru]" :value="ru">Russie</flag-checkbox> -->
	</script>



	<main id="app">

		<toggle-button class="button button--toggle"
		v-for="toggle in toggleList"
		:pressed="toggle.pressed"
		:id="toggle.id"
		:key="toggle.id"
		:disabled="toggle.disabled"
		>{{toggle.name}} <span class="order" v-if="toggle.order > 0">#{{toggle.order}}</span></toggle-button>

		<pre>{{groups}}</pre>

		<ul>
			<li v-for="g in groups.A">{{g.id}} pressed = {{g.pressed}}</li>
		</ul>


		<!--
		<div class="fieldset">

		<div class="country-checkbox">
		<input type="checkbox" class="offscreen" id="countries[ru]" name="countries[ru]" value="ru">
		<label for="countries[ru]" class="inner-wrapper">
		<span class="flag-icon flag-icon-squared flag-icon-ru"></span>
		<span class="caption">Russie</span>
	</label>
</div>

<div class="country-checkbox">
<input type="checkbox" class="offscreen" id="countries[fr]" name="countries[fr]" value="fr">
<label for="countries[fr]" class="inner-wrapper">
<span class="flag-icon flag-icon-squared flag-icon-fr"></span>
<span class="caption">France</span>
</label>
</div>

<div class="country-checkbox">
<input type="checkbox" class="offscreen" id="countries[es]" name="countries[es]" value="es">
<label for="countries[es]" class="inner-wrapper">
<span class="flag-icon flag-icon-squared flag-icon-es"></span>
<span class="caption">Espagne</span>
</label>
</div>

<div class="country-checkbox">
<input type="checkbox" class="offscreen" id="countries[it]" name="countries[it]" value="it">
<label for="countries[it]" class="inner-wrapper">
<span class="flag-icon flag-icon-squared flag-icon-it"></span>
<span class="caption">Italie</span>
</label>
</div>

</div>
-->

</main>


<link rel="stylesheet" href="assets/css/app.css">

<!-- vue and plugins -->
<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/vuex@2.3.1"></script>

<script src="assets/js/vue-app.js"></script>


</body></html>
