
@import '../../lib/flag-icon-css/flag-icon.scss';



html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
	font-size: 100%;
}


.offscreen {
	clip: rect(1px 1px 1px 1px); /* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; /* added line */
	width: 1px;
}


.button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	padding: .5em 1em;
	border: 1px dashed #ccc;
	margin: .5rem;
	border-radius: .3em;
	cursor: pointer;
}

.button[aria-pressed] {
	filter: invert(1);
}

.button:hover {
	border: 1px solid currentColor;
}

.button:focus {outline:0;}

button[disabled="disabled"] {
	cursor: not-allowed;
}



.button--toggle .order {
	background: black;
	border-radius: 50%;
	color: white;
	font-size: .8em;
	height: 1.5em;
	line-height: 1.5em;
	padding: .25em;
	width: 1.5em;
	display: inline-block;
}



.country-checkbox {
	display: inline-block;

	.caption {
		// font-size: 1.1em;
	}

	.flag-icon {
		width: 2.25em;
		height: 2.25em;
		margin-right: .5em;
		border-radius: 50%;
		border: .1em solid white
	}

	.inner-wrapper {
		align-items: center;
		background-color: #fafafa;
		border-radius: .25em;
		border: 1px solid #ccc;
		box-shadow: 0 1px 0.5em #dfdfdf;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: .5rem;
		min-width: 12rem;
		padding: .25rem;
	}

	input[type=checkbox]:checked ~ .inner-wrapper {
		border-color: #ed3392;
		background-color: #ed3392;
		box-shadow: 0 1px 0.5em rgba(113, 112, 112, 0.5) inset;
		color: white;
	}

}
