// @import "variables";
$flag-icon-css-path: '../../lib/flag-icon-css/flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;

@import "../../node_modules/flag-icon-css/sass/_flag-icon-base.scss";
@import "../../node_modules/flag-icon-css/sass/flag-icon-list";
@import "../../node_modules/flag-icon-css/sass/flag-icon-more";
